.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-family: Petit Formal Script, Cursive, times;
    font-size: 36px;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navItems {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'open sans', sans-serif;
    font-size: 24px;
}


h2 {
    font-family: 'open sans', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'open sans', sans-serif;
    font-size: 24px;
}

.footer {
    background: #CABAD1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.footerText {
    display: flex;
    flex-direction: row;
}

p {
    font-family: 'open sans', sans-serif;
    font-size: 16;
}

li {
    font-family: 'open sans', sans-serif;
    font-size: 16;
}


.darkGreen {
    color: #4E6146;
}

.darkPurple {
    color: #785B85;
}

.nav {
}

.nav-item {
    margin: 10px;
}

.justify-content-center {
}

.jumbotron {
    background: #CCD2BB;
    color: #785B85;
    text-align: center;
}

.align-content-center {
}

.section {
    margin: 50px;
}

.card {
    width: 50%;
    height: auto;
    margin: 20px;
    border: none;
}


.row {
}